@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif, system-ui;

    margin: 0;
    padding: 0;
}

.icon {
    mask-repeat: no-repeat;
    -webkit-mask-position-x: center;
    -webkit-mask-position-y: center;
    background-color: white;
    aspect-ratio: 1 /1;
    height: 100%;

}

body {
    height: 100vh;
    width: 100vw;


    resize: none;
    overflow: hidden;
}

#parent {
    width: 100vw;
    height: 100vh;

    display: grid;

    /* grid-template-columns: 17fr 83fr; */
    /* grid-template-columns: minmax(max-content, 17fr) 83fr; */
    grid-template-columns: max-content 83fr;
    /* grid-template-rows: 15% 85%; */
    grid-template-rows: auto 1fr;

    * {
        padding: 5px;
        overflow: scroll;
    }
}

header {
    z-index: 2;
    grid-column: 2/3;
    /* grid-template-columns: auto; */
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px -10px 10px black);

    display: grid;
    grid-template-rows: 2fr 3fr;

    #header-top {
        height: 40px;
        /* resize: both; */
        display: flex;
        align-items: center;
        justify-content: space-between;

        textarea {
            height: 100%;
            width: 70%;
            min-width: 100px;
            resize: none;
            border-radius: 20px;
            background-color: rgb(211, 211, 211);
            border-color: white;
        }

        img {
            height: 50px;
            min-width: 50px;
        }

        svg {
            min-width: 50px
        }
    }

    #header-bottom {
        display: flex;

        img {
            height: 70px;
            min-width: 70px;
        }

        #button-container {
            align-content: center;
            min-width: fit-content;

            button {
                border-radius: 28px;
                border-color: #3498db;
                font-family: Arial;
                color: #ffffff;
                font-size: 20px;
                background: #3498db;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
                inset: unset;

                border:0 none;
            }

            button:hover {
                background: #3cb0fd;
                text-decoration: none;
            }
        }
    }
}

aside {
    color: white;
    z-index: 3;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(25 146 212);
    filter: drop-shadow(0 0 0.2rem black);

    display: grid;
    grid-template-rows: repeat(12, 60px);


    /* resize: both; */
    /* overflow: auto; */


    .dash-buttons {
        display: flex;
        /* font-size: 1.5rem; */
        /* outline: solid 1px black; */
        /* resize: both; */

        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
}

main {
    z-index: 1;
    grid-column: 2/3;
    background-color: rgb(226 232 240);

    display: grid;
    grid-template-columns: 3fr 1fr;

    .card {
        padding: 30px !important;
        flex: 1 1 auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 0.2rem black;
        br {
            content: "";
            display: block;
            border-top: 1px solid black;
        }
    }

    #projects {
        grid-row: 1/3;
        .card {
            /* div {
                background-color: red;
                min-width: 100px;
                min-height: 100px;
                -webkit-mask: url(assets/view-dashboard.svg) no-repeat center;
                mask: url(assets/view-dashboard.svg) no-repeat center;
            } */
        }
    }

    #announcements {
        display: flex;
        flex-flow: column;
    }

    #trending {
        display: flex;
        flex-flow: column;
        .card {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
    
}

svg {
    height: 100%;
}
