@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif, system-ui;

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;


    resize: none;
    overflow: hidden;
}

#parent {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 17fr 83fr;
    grid-template-rows: 15% 85%;

    * {
        padding: 5px;
        overflow: scroll;
    }
}

header {
    z-index: 2;
    grid-column: 2/3;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px -10px 10px black);
}

aside {
    z-index: 3;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(25 146 212);
    filter: drop-shadow(0 0 0.2rem black);
}

main {
    z-index: 1;
    grid-column: 2/3;
    background-color: rgb(226 232 240);
}
