@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif, system-ui;
    outline: 1px solid black;
    margin: unset;
    padding: unset;
}

html {
    /* anything different from visible */
    overflow: auto;
}

body {
    height: 100vh;
    width: 100vw;
    
    /* needed to remove gap at top*/
    padding: 1px;
    
    resize: both;
    overflow: auto;
    
    * {
        resize: both;
        overflow: auto;
        margin: 10px;
    }
}
